.main-course-page {
    margin-top: 3.5rem;
}

.star-paragraph {
    margin-right: 0.5rem;

}

.stars-complete {
    margin-left: 2rem;
    margin-right: 2rem;
}

.topic-card {
    width: 9rem;
    height: 9rem !important;
    margin: 0.5rem;
}

@media (max-width: 768px) {
    .container-progress {
        flex-direction: column;
    }

    .stars-complete {
        margin: 0.5rem 0;
    }

}