/* Reset CSS básico */

/* Box sizing border-box para todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove los márgenes y el relleno predeterminados */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Asegúrate de que los elementos de lista se muestren correctamente */
ul,
ol {
  list-style: none;
}

/* Establece la apariencia del formulario para evitar estilos predeterminados */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

/* Evita la herencia de la fuente y el tamaño en algunos navegadores */
button,
select {
  text-transform: none;
}

/* Asegúrate de que los elementos de imagen no tengan bordes espaciosos */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
